# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### Example user template template
### Example user template
.idea/vcs.xml
where-to-go-common/target/
where-to-go-dao/target/
where-to-go-model/target/
where-to-go-service/target/
where-to-go-web/target/
